<h1>Diretiva customizadas </h1>

<p>Podemos criar nossas próprias diretivas para mudar o comportamento, visual ou estrutura dos elementos</p>

<h2>Diretiva customizada para escrever texto</h2>

<p automaticDigits [charPerSecond]="40">Mussum Ipsum, cacilds vidis litro abertis. Todo mundo vê os porris que eu tomo, 
    mas ninguém vê os tombis que eu levo! Cevadis im ampola pa arma uma pindureta. Aenean aliquam molestie leo, 
    vitae iaculis nisl. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.</p>

