
<h1>Perfil</h1>

<section>
    <h2>Dados pessoais (usando serviço UserService com dados mockados)</h2>

    <div class="position-relative p10">
        <app-loading [show]="loadingProfile" [local]=true>Consultando dados do perfil, aguarde</app-loading>

        <p>
            <strong>Nome: </strong>
            {{ userData?.nome }}
        </p>

        <p>
            <strong>Idade: </strong>
            {{ userData?.idade }}
        </p>

        <p>
            <strong>Email: </strong>
            {{ userData?.email }}
        </p>
    </div>
</section>

<section>
    <h2>Meus Pokemons (Consumindo API Publica: <a href="https://pokeapi.co/" target="_blank">https://pokeapi.co/</a>)</h2>

    <div class="position-relative p10">
        <app-loading [show]="loadingPokemons" [local]="true">Consultando minha Pokedex, aguarde...</app-loading>

        <ul>
            <li *ngFor="let pokemon of pokemons">
                <a [href]="pokemon?.url" target="_blank">{{ pokemon?.name }}</a>
            </li>
        </ul>
    </div>
</section>

<section>
    <h2>Meus Games (usando serviço GameService com dados mockados)</h2>

    <div class="position-relative p10">
        <app-loading [show]="loadingGames" [local]="true">Consultando meus jogos, aguarde...</app-loading>

        <ul>
            <li *ngFor="let game of listaGames">
                {{ game?.nome }} ({{ game?.ano }})
            </li>
        </ul>
    </div>
</section>