


<div class="container">
  <header>
    <h1>{{ title }}</h1>
  </header>

  <div *ngIf="isLogged()">
    <nav>
      <!-- The navigation menu -->
      <div class="navbar">
        <div class="subnav" routerLinkActive="active">
          <button class="subnavbtn">Data Bindings</button>
          <div class="subnav-content">
            <a routerLinkActive="active" routerLink="/pratica/bindings/interpolation">Interpolation</a>
            <a routerLinkActive="active" routerLink="/pratica/bindings/property">Property Binding</a>
            <a routerLinkActive="active" routerLink="/pratica/bindings/event">Event Binding</a>
            <a routerLinkActive="active" routerLink="/pratica/bindings/two-way">Two Way Binding</a>
            <a routerLinkActive="active" routerLink="/pratica/bindings/class">Class Binding</a>
          </div>
        </div>

        <div class="subnav" routerLinkActive="active">
          <button class="subnavbtn">Structural Directives</button>
          <div class="subnav-content">
            <a routerLinkActive="active" routerLink="/pratica/diretivas/ngif">*ngIf</a>
            <a routerLinkActive="active" routerLink="/pratica/diretivas/ngfor">*ngFor</a>
          </div>
        </div>

        <div class="subnav" routerLinkActive="active">
          <button class="subnavbtn">Template</button>
          <div class="subnav-content">
            <a routerLinkActive="active" routerLink="/pratica/template/ref">Template Ref (#)</a>
            <a routerLinkActive="active" routerLink="/pratica/template/ng-container">Elemento ng-container</a>
          </div>
        </div>

        <div class="subnav" routerLinkActive="active">
          <button class="subnavbtn">Attribute Directives</button>
          <div class="subnav-content">
            <a routerLinkActive="active" routerLink="/pratica/diretivas/atributos/ng-class">ngClass</a>
            <a routerLinkActive="active" routerLink="/pratica/diretivas/atributos/ng-style">ngStyle</a>
            <a routerLinkActive="active" routerLink="/pratica/diretivas/atributos/ng-model">ngModel</a>
            <a routerLinkActive="active" routerLink="/pratica/diretivas/atributos/form-control">formControl</a>
            <a routerLinkActive="active" routerLink="/pratica/diretivas/customizadas">Diretivas Customizadas</a>
          </div>
        </div>

        <div class="subnav" routerLinkActive="active">
          <button class="subnavbtn">Reactive Forms</button>
          <div class="subnav-content">
            <a routerLinkActive="active" routerLink="/pratica/diretivas/atributos/form-control">formControl</a>
            <a routerLinkActive="active" routerLink="/pratica/forms/form-group">formGroup</a>
            <a routerLinkActive="active" routerLink="/pratica/forms/form-array">formArray</a>
          </div>
        </div>

        <div class="subnav" routerLinkActive="active">
          <button class="subnavbtn">Components</button>
          <div class="subnav-content">
            <a routerLinkActive="active" routerLink="/pratica/components/input-output">Input (Propriedade) / Output (Evento)</a>
            <a routerLinkActive="active" routerLink="/pratica/components/ng-content">ng-content</a>
            <a routerLinkActive="active" routerLink="/pratica/components/hooks">LifeCycle Hooks</a>
          </div>
        </div>

        <a routerLink="/profile" routerLinkActive="active">Profile</a>
        
        <a href="#" (click)="logout()" routerLinkActive="active">Logout</a>
      </div>
    </nav>
  </div>

  <div></div>

  <router-outlet></router-outlet>
</div>