

section {
   background: #333;
   padding: 10px;
   color: lightblue;
   border: 1px solid #777;
}

section header:not(:empty) {
    padding: 0px;
    margin: 0;
    font-size: 28px;
    margin-bottom: 10px;
}

section footer:not(:empty) {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-size: 14px;
    margin-top: 20px;
    border-top: 2px solid tomato;
}

.conteudo {
    color: #FFF;
}